header {
    background-color: #3078af;
    height: 60px;
    margin: -8px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-family: 'Noto Sans JP', sans-serif;
}

.header-logo {
    color: #fff;
    font-size: 25px;
    margin: 15px 25px;
}

.header_img {
    height: 25px;
    margin: 15px 25px;
}

.main {
    height: 370px;
    font-family: 'Noto Sans JP', sans-serif;
}

h2 {
    color: #444444;
    margin: 90px 0px 30px 0px;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

p {
    color: #444444;
    margin: 30px 0px 30px 0px;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

.answer {
    color: #444444;
    margin: 70px 0px 30px 0px;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

form {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

footer {
    background-color: #dfdddd;
    height: 110px;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    font-family: 'Noto Sans JP', sans-serif;
}

.footer_img {
    height: 25px;
    margin: 15px 25px;
}

small {
    margin: 15px 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: 'Noto Sans JP', sans-serif;
}
input[type='file'] {
  color: rgb(31, 41, 55);
  cursor: pointer;
  border: 1px solid rgb(191, 194, 199);
  border-radius: 0.375rem;
  padding-right: 0.5rem;
  width: 20rem;
}

::file-selector-button,
::-webkit-file-upload-button {
  background-color: rgb(209, 213, 219);
  color: rgb(31, 41, 55);
  border: none;
  cursor: pointer;
  border-right: 1px solid rgb(191, 194, 199);
  padding: 0.25rem 1rem;
  margin-right: 1rem;
}
input[type='submit'] {
  color: rgb(31, 41, 55);
  cursor: pointer;
  border: 1px solid rgb(191, 194, 199);
  border-radius: 0.375rem;
  padding-right: 0.5rem;
  width: 10rem;
}
