<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Casting Defect Classifier</title>
    <link rel="stylesheet" href="./static/stylesheet.css">
    <link rel="icon" href="./static/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>   
        <img class="header_img" src="https://aidemyexstorage.blob.core.windows.net/aidemycontents/1621500180546399.png" alt="Aidemy">
        <a class="header-logo" href="#">Casting Defect Classifier</a>
    </header>
    <div class="main">
        <h1>AIアプリ開発講座成果物</h1>
        <h2>AIが送信された画像の異常または正常のどちらかに分類します</h2>
        <p>画像をアップロードしてください</p>
        <p>アップロードされた画像は、AIにより異常/正常の判定が行われ、その結果が表示されます</p>
        <form id="uploadForm" method="post" enctype="multipart/form-data">
          <input type="file" id="fileInput" name="fileInput">
          <button type="submit" id="uploadButton" disabled>アップロード</button>
        </form>
        <div class="answer">{{answer}}</div>
        <br>
        <a href="https://drive.google.com/file/d/14ftPlzf0_YUm1h7RgwZAfNizKp2qym4c/view?usp=drive_link" download>異常画像 ここをクリックして画像ファイルをダウンロード</a>
        <br>
        <a href="https://drive.google.com/file/d/1wEhfq1mfI0SYfxV1h-vb122pgNKDHkCk/view?usp=drive_link" download>正常画像 ここをクリックして画像ファイルをダウンロード</a>  
    </div>
    <footer>
        <img class="footer_img" src="https://aidemyexstorage.blob.core.windows.net/aidemycontents/1621500180546399.png" alt="Aidemy">
        <small>&copy; 2024 NO, inc.</small>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
        const fileInput = document.getElementById('fileInput');
        const uploadButton = document.getElementById('uploadButton');
          fileInput.addEventListener('change', function () {
          if (fileInput.files.length > 0) {
              uploadButton.disabled = false;
          } else {
              uploadButton.disabled = true;
              }
          });
        });
    </script>
</body>
</html>
